@mixin chip-transition {
  transition-property: max-width;
  transition-duration: 500ms;
  transition-timing-function: ease;
}

mat-chip {
  span {
    display: inline-block;
    max-width: 1.1ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include chip-transition
  }
}

mat-chip:hover::ng-deep {
  span {
    max-width: 100px;
    @include chip-transition
  }
}
